@use "../abstracts/" as *;

.grid-col-1 {
    grid-template-columns: 1fr;
}
.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-col-4 {
    grid-template-columns: repeat(4, 1fr);


}

:is(.grid-col-2, .grid-col-3, .grid-col-4) {
    @include respond(tab-port) {
        grid-template-columns: 1fr;
    }
}

.grid {
    display: grid;
    margin: 0 auto;
    max-width: $grid-width;
    column-gap: $vertical-gap;

    @include respond(tab-port) {
        column-gap: 0;
        row-gap: 6rem;
        max-width: 50rem;
        padding: 0 3rem;
    }
}

.footer-grid {
    grid-template-columns: auto 1fr;
    column-gap: 26rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr;
        justify-items: center;
        max-width: 80%;
    }
}