@use "../abstracts/" as *;

.grid-col-1 {
    grid-template-columns: 1fr;
}
.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
}
.grid-col-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid {
    display: grid;
    margin: 0 auto;
    max-width: $grid-width;
    column-gap: $vertical-gap;
}

.footer-grid {
    grid-template-columns: auto 1fr;
    column-gap: 26rem;
}